<div class="student-list">
    <div class="head">
        <div class="column-head" id="pic">
          <!-- <img src="lien_de_l_image" alt="Image utilisateur"> -->
          <!-- <i class="far fa-user"></i> -->
        </div>
        <div class="column-head" id="nom">Nom</div>
        <div class="column-head" id="prenom">Prenom</div>
        <div class="column-head" id="mail">Email</div>
        <div class="column-head" id="action"></div>
    </div>
    <div class="list" *ngFor="let student of studentList">
        <app-student [student]="student"
        (studentHasBeenSelected)="studentHasBeenSelected($event)"
        (studentHasBeenDeleted)="deleteStudent($event)"></app-student>
    </div>
</div>