// // You can apply style directly to a component
// app-student {
//     margin: 4px;
// }

// .student {
//     width: 100%;
// }

// .student-list {
// display: flex;
// flex-direction: column;
// align-items: center;
// justify-content: center;
// }

$color: #555;
$main-background: #5B9EED;
$white: #fff;
$white-two: #aaa;
body {
  color: #555;
  background-color: #5B9EED;
  font-family: sans-serif;
}

.student-list {
  max-width: 400px;
  margin: 50px auto;
}

.list {
//   background: $white;
  border-radius: 2px;
  list-style: none;
  padding: 10px 20px;
}