@import '../../../styles/card.scss';

.ticket {
  width: 100%;
}

.ticket:hover {
  cursor: pointer;
  background: red;
}

.ticket-container {
  position: relative;
}


.archive-ticket {
  position: absolute;
  top: 40%; /* Adjust top position as needed */
  right: 0; /* Adjust right position as needed */
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center; 
}
