<div class="ticket-container">

  <div class="card ticket" (click)="selectTicket()">
    <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
    <h3>Titre : {{ticket.title}}</h3>
    <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
    <i class="far fa-user"></i> {{ticket.student?.id}} - {{ticket.student?.nom}} {{ticket.student?.prenom}} &nbsp;&nbsp;
    <!-- add icon for major depends on his type SI, GE, GB ... -->
    <i *ngIf="ticket.major === major.SI" class="fas fa-laptop-code"></i>
    <i *ngIf="ticket.major === major.GE" class="fas fa-globe-europe"></i>
    <i *ngIf="ticket.major === major.GB" class="fas fa-dna"></i>
    <i *ngIf="ticket.major === major.GM" class="fas fa-cogs"></i>
    <i *ngIf="ticket.major === major.GP" class="fas fa-flask"></i>
    {{ticket.major}} &nbsp;&nbsp;
  </div>
  <!-- create a remove button for each ticket -->
  <div class="remove-ticket" title="Archive ticket" (click)="deleteTicket()">
    <!-- trash icon -->
    <!-- <i class="fas fa-trash-alt"></i> -->
    <!-- archivage icon -->
    <i class="fas fa-archive"></i>
  </div>

  

</div>
