<!-- <div class="back-button">
  <button routerLink="/students">Go Back</button>
</div> -->

<div *ngIf="student" class="student-details">
  <h2>Details</h2>
  <table>
    <tr>
      <td class="detail-label">ID:</td>
      <td>{{ student?.id }}</td>
    </tr>
    <tr>
      <td class="detail-label">Nom:</td>
      <td>{{ student?.nom }}</td>
    </tr>
    <tr>
      <td class="detail-label">Prenom:</td>
      <td>{{ student?.prenom }}</td>
    </tr>
    <tr>
      <td class="detail-label">Email:</td>
      <td>{{ student?.mail }}</td>
    </tr>
    <tr>
      <td class="detail-label">Notes:</td>
      <td>
        <textarea id="notes" [(ngModel)]="notes" (ngModelChange)="saveNotes()" class="notes-textarea"></textarea>
      </td>
    </tr>
  </table>
</div>