<div class="student" (click)="selectStudent()">
  <div class="column" id="pic">
      <!-- <img src="lien_de_l_image" alt="Image utilisateur"> -->
      <i class="far fa-user"></i>
    </div>
    <div class="column" id="nom">{{student.nom}}</div>
    <div class="column" id="prenom">{{student?.prenom}}</div>
    <div class="column" id="mail"><a href="mailto:{{student?.mail}}" (click)="$event.stopPropagation()">{{student.mail}}</a></div>
    <div class="column" id="remove-student" title="Delete student" (click)="deleteStudent(); $event.stopPropagation()">
      <i class="fas fa-trash-alt"></i>
  </div>
</div>