<div class="display-archived-button">
  <!-- add of button to show archived tickets ior hide them -->
  <!-- (click)="toggleArchivedTickets()"> -->
  <button class="btn btn-primary"(click)="toggleArchivedTickets()"> 
    {{displayTicketArchived ? 'Hide archived tickets' : 'Show archived tickets'}}
  </button>
</div>
<div class="ticket-list">
  <div class="ticket" *ngFor="let ticket of ticketList">
    <!-- get student with ticket.studentId -->
    
    <app-ticket *ngIf="!ticket.archived || displayTicketArchived" [ticket]="ticket"
    [student]="getStudentById(ticket.studentId)"
    (ticketHasBeenSelected)="ticketHasBeenSelected($event)"
    (ticketHasBeenArchived)="archiveTicket($event)"></app-ticket>
  </div>
</div>
